* {
  box-sizing: border-box;
}

/* Opmaak van de boxes */
.flex-container > div {
  border: 1px solid #000;
  background-color: lightgreen;
  padding: 10px;
}

/* Plaats je oplossing hieronder */

