body {
    background-color: rgb(51, 51, 51);
}

main, footer, a {
    color: white;
    font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

main {
    background-image: url("../images/vlees.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center;
}