html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

/* Opmaak van de boxes */
.flex-container > div {
  border: 1px solid #000;
  background-color: lightgreen;
  padding: 10px;
}

/* Plaats je oplossing hieronder */
.flex-container {
  display: block flex;
  flex-direction: row-reverse;
}