span {
  font-weight: bold;
  border: 1px solid blue;
  background-color: lightblue;
  display: block;
}

span:first-of-type {
  visibility: hidden;
}

span:nth-of-type(2) {
  /*display: none;*/
  width: 100px;
  height: 50px;
}