html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7;

}

h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    color: white;
    background-color: #96c21f;
}

tbody {
    color: black;
}

/*tbody tr:nth-child(odd) td:first-child {
    background-color: lightskyblue;
}*/

/*td[rowspan] {
    background-color: lightskyblue;
}*/

col:first-child {
    background-color: lightskyblue;
    width: 250px;
}

td, th {
    border: 2px solid lightgray;
    padding: 5px;
}

td {
    text-align: center;
}

td:hover {
    animation-name: wiggle;
    animation-duration: 1s;
}

tbody tr:nth-child(odd) td:first-child {
    text-align: left;
    animation: none;
}

caption {
    font-size: 1.5rem;
    color: gray;
}

@keyframes wiggle {
    0% {
        transform: rotate(0)
    }

    15% {
        transform: rotate(-15deg)
    }

    30% {
        transform: rotate(10deg)
    }

    45% {
        transform: rotate(-10deg)
    }

    60% {
        transform: rotate(6deg)
    }

    75% {
        transform: rotate(-4deg)
    }

    90%, 100% {
        transform: rotate(0);
    }

}

.image-row {
    display: flex;
    gap: 5px;
}

.image-row > div {
    flex-grow: 1;
    flex-basis: 0;
}

img {
    border-radius: 50%;
    max-width: 100%;
}

fieldset > div {
    display: flex;
    margin: 5px 0;
}

label {
    width: 150px;
}

select {
    display: none;
}

input:checked + select {
    display: block;
}

main {
    display: grid;
    grid-template-columns: minmax(800px, 1fr);
    grid-template-areas:
        "a"
        "b";
}

@media screen and (min-width:1100px) {
    main {
        grid-template-columns: 800px 1fr;
        grid-template-areas:
            "a b";
    }

}

section {
    grid-area: a;
}

form {
    grid-area: b;
}