@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1, h2 {
    font-family: Merriweather;
}

body {
    font-family: 'Open sans';
}

section:nth-of-type(3) h2 {
    color: green;
}

section:first-of-type h2 {
    color: red;
}

section:nth-of-type(2) h2 {
    color: yellow;
}

li li {
    list-style-type: none;
    text-decoration: underline;
    font-weight: normal;
}

.vet {
    font-weight: bold;
}