* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.grid-container {
  display: block grid;
  grid-template-columns: 200px 200px 200px;
  width: 600px;
  border: 1px solid #000;
}

.grid-container > div {
  margin: 30px;
}

.grid-container p {
  color: grey;
  font-family: cursive;
  text-align: center;
}

.box {
  width: 40px;
  height: 40px;
  margin: 40px auto;
  border-radius: 50%;
}

.grid-container:hover .box1 {
  transition-duration: 300ms;

}

.grid-container:hover {
  .box {
    transform: scale(2);
  }

}

.box1 {
  background: rgb(60, 158, 148, 40%);
  transition-duration: 300ms;

}

.box2 {
  background: rgb(60, 158, 148, 70%);
  transition-delay: 300ms;
  transition-duration: 1s;
}

.box3 {
  background: rgb(60, 158, 148);
  transition-delay: 1300ms;
  transition-duration: 2s;
}