/* Gebruik voor de webpagina het letttertype Arial Narrow. Als dat niet aanwezig is gebruik Helvetica. Sluit of met een generieke font family. */
body {
     font-family: Arial, Helvetica, sans-serif;
}

/* Alle div's hebben een hoogte (height) van 100 pixels en de achtergrondkleur is indianred. */
div {
     height: 100px;
     background-color: indianred;
}

/* Stel de ster (map images) in als achtergrondafbeelding 
voor de eerste div. De ster moet gecentreerd worden. */
div:first-of-type {
     background-image: url(../images/star.png);
     background-repeat: no-repeat;
     background-position: center;
}

/* Voeg de onderstaande linear-gradient toe aan de tweede div:
     linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(50, 131, 147, 1) 0%, rgba(9, 9, 121, 1) 100%); 
*/
div:nth-of-type(2) {
     background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(50, 131, 147, 1) 0%, rgba(9, 9, 121, 1) 100%);
}

/* EXTRA: vervang de linear-gradient door een gradient die je zelf 
gegenereert via https://cssgradient.io/   */