body {
  background-color: lightgray;
  font-family: Courier, monospace;
}

/* Combinators - pseudo-classes - pseudo-elemnts  */
/**************************************************/

/* Het resultaat moet hetzelfde zijn als de vorige oefening maar 
    nu zonder class attributen toe te voegen.
    Bij deze oefening voeg je enkel CSS toe.
    De HTML laat je ongewijzigd.*/

/* De content van de h2 in het eerste artikel en de derde li 
van elke keuzelijst worden in het rood weergegeven. */
h2:first-of-type {
  color: red;
}

li:nth-of-type(3) {
  color: red;
}

/*oplossing*/
article:first-of-type h2, ul li:nth-child(3) {
  color: red
}

/* De derde li in de geneste keuzelijst moet vet worden weergegeven. */

ul > li li:nth-of-type(3) {
  font-weight: bold;
}

/* De eerste letter van de eerste paragraaf geef je
een lettergrootte van 2 em.*/

header p:first-of-type::first-letter {
  font-size: 2em;
}

/* De laatste paragraaf van de aside in bold en tekstkleur #128956.*/
aside p:last-of-type {
  font-weight: bold;
  color: #128956;
}